<!DOCTYPE html>
<html>

<form method="post" action="/teams">
  <h1>Create a Team and Heroes!</h1>
    <p>Team Name: <input type="text" name="team[name]"></p>
    <p>Team Motto: <input type="text" name="pirate[weight]"></p>
    <p>Pirate Height: <input type="text" name="pirate[height]"></p>

  <h2>Ships</h2>
    <p>Ship Name: <input type="text" id="ship_name_1" name="pirate[ships][][name]"></p>
    <p>Ship Type: <input type="text" id="ship_type_1" name="pirate[ships][][type]"></p>
    <p>Ship Booty: <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"></p>
    <p>Ship Name: <input type="text" id="ship_name_2" name="pirate[ships][][name]"></p>
    <p>Ship Type: <input type="text" id="ship_type_2" name="pirate[ships][][type]"></p>
    <p>Ship Booty: <input type="text" id="ship_booty_2" name="pirate[ships][][booty]"></p>

  <input type="submit" value="Submit" id="submit" name="submit">

</form>
</html>



